@font-face {
    font-family: "Orange Typewriter";
    src: url("assets/Orange Typewriter.ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: bold;
    src: url("assets/JetBrainsMono-Bold.woff2");
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-family: monospace;
 }

body {
    background-color: white;
    color: black;
}

h1 {
    font-size: 30px;
    font-family: "Orange Typewriter", serif;
}

#description {
    font-size: 15px;
    font-family: "JetBrains Mono", serif;
}

.red-text {
    color: #d01c1c;
}

.dark-mode {
    background-color: black;
    color: white;
}

#wzium:hover {
    font-weight: bold;
    background: red;
    background: -webkit-linear-gradient(left, red, orange, lightgreen, cyan, lightblue);
    background: -o-linear-gradient(right, red, orange, lightgreen, cyan, lightblue);
    background: -moz-linear-gradient(right, red, orange, lightgreen, cyan, lightblue);
    background: linear-gradient(to right, red, orange, lightgreen, cyan, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 30px;
    height: 30px;
}

 .inverted-colors {
    filter: invert(1);
}

#dark-mode-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}