@font-face {
    font-family: "Orange Typewriter";
    src: url("assets/fonts/Orange Typewriter.ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: bold;
    src: url("assets/fonts/JetBrainsMono-Bold.woff2");
}

/* Thanks to Barbarossa! */
#container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.body-transition {
    transition: all 0.2s ease-in-out;
}

body {
    background-color: white;
    color: black;
}

h1 {
    font-size: 30px;
    font-family: "Orange Typewriter", serif;
}

#description {
    text-align: center;
    font-size: 15px;
    font-family: "JetBrains Mono", serif;
}

#icon-container {
    font-size: 0;
}

#icon-info {
    margin-top: 15px;
    font-size: 15px;
    font-family: "JetBrains Mono", serif;
    font-weight: bold;
}

.red-text {
    color: #d01c1c;
}

.dark-mode {
    background-color: #1e2021;
    color: white;
}

#wzium:hover {
    font-weight: bold;
    background: red;
    background: -webkit-linear-gradient(left, red, orange, lightgreen, cyan, lightblue);
    background: -o-linear-gradient(right, red, orange, lightgreen, cyan, lightblue);
    background: -moz-linear-gradient(right, red, orange, lightgreen, cyan, lightblue);
    background: linear-gradient(to right, red, orange, lightgreen, cyan, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 30px;
    height: 30px;
    transition: transform .2s;
    margin: 10px;
}

.logo:hover {
    transform: scale(1.2);
}

 .inverted-colors {
    filter: invert(1);
}

#dark-mode-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}